:root{
  --fire-orange: #f88e00;
  --dark-orange: #c06d00;
  text-align: center;
}

.App-header {
  background-position-x: center;
  background-position-y: 65%;
  background-image: url("campfire.jpg");
  background-size: cover;
  height: 600px;
  color: white;
}

.Small-header {
  background-position-x: center;
  background-position-y: 65%;
  background-image: url("campfire.jpg");
  background-size: cover;
  height: 68px;
  color: white;
}

.App-title {
  font-size: 60px;
  padding: 30px;
  padding-top: 120px;
}

.App-tagline {
  font-size: 32px;
  padding: 30px;
}

.App-body {
  font-size: large;
  padding: 30px;
}

:root ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 0;
  background-color: black;
  opacity: 60%;
}

:root li {
  display: inline-block;
  margin: 20px;
  font-size: 24px;
}

:root a {
  text-decoration: none;
  color: white;
}

:root a:hover,
:root a:active {
  color: var(--fire-orange)
}


.logo {
  width: 24px;
  height: 24px;
  background-position-y: center;
}

.images {
  padding: 30px;
}

img {
    max-width:100%;
    height:auto;
}

button {
  background-color: var(--fire-orange);
  border: none;
  color: #555566;
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  font-size: 24px;
  font-weight: bold;
    border-radius: 4px;
}

button:focus,
button:hover {
  background-color: var(--dark-orange);
  color: #44444b;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

